html, body, #map {
  height: 100%;
}

#route {
	position:absolute;
	left: 50px;
	top: 20px;
	padding: 10px;
	background: #fff;
	font-weight: bold;
}

#legend {
	background: #fff;
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 5px 10px;
}

#legend .trip {
  line-height:2em;
  border-radius:75px;
}

#legend .num {
	height: 10px;
	width: 10px;
	display: inline-block;
	border-radius: 5px;
}

.ontime .num {
  background: #6a8c1f;
}

.behind .num {
  background: #fcb000;
}

.late .num {
  background: #ff6d49;
}

.verylate .num {
  background: #e20027;
}

.unknown .num {
  background: #aaa;
}

