<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/app.css" rel="stylesheet" media="screen">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
  </head>
  <body>
    <div id="map"></div>

    <div id="legend" class="trips">
      <div class="trip unknown">
        <div class="num"></div>
        untracked
      </div>
      <div class="trip ontime">
        <div class="num"></div>
        on time
      </div>
      <div class="trip behind">
        <div class="num"></div>
        5 min late
      </div>
      <div class="trip late">
        <div class="num"></div>
        10 min late
      </div>
      <div class="trip verylate">
        <div class="num"></div>
        20+ min late
      </div>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/diagnostics.js"></script>


    <script type="text/template" id="t-bus-info">
      <p>
      Headsign: <%= bus.headsign %>
      <br />
      GTFS Vehicle ID: <%= bus.vehicleId %>
      <br />
      GTFS Trip ID: <%= bus.tripId %>
      <br />
      Next stop: <%= bus.tripStatus.nextStop %> in <%= bus.tripStatus.nextStopTimeOffset %> seconds
      <br />
      Deviation: <%= bus.deviation %> min
      <br />
      Predicted: <%= bus.tripStatus.predicted %>

      </p>
    </script>
  </body>
</html>
